@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Force scrollbar */
html {
	overflow-y: scroll;
	font-size: 62.5%;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
	vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
	cursor: pointer;
}

strong {
	font-weight: bold;
	font-family: inherit;
	font-size: inherit;
}

em {
	font-style: italic;
}

img {
	width: 100%;
	border: 0;
	vertical-align: middle;
}

sub,
sup {
	vertical-align: baseline;
	position: relative;
	font-size: 55%;
	line-height: 0;
}

sup {
	top: -0.7em;
}
sub {
	bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}

/*for all*/
body {
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	display: inline-block;
	text-decoration: none;
}

li {
	display: inline-block;
	list-style-type: none;
}

/*for wrapper*/
.wrapper {
	max-width: 1360px;
	width: 86%;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

:root {
	--font1: "Poppins", sans-serif;
	--font2: "Baloo Bhai 2", cursive;
}
/* COmmon Styling */
.common-color{
  background-color: gray;
}
/*=================================
  Header styling starts here
=================================*/
header {
	background-color: #2c3e50;
	height: 10vh;
	/* position: relative; */
}
header .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
header .wrapper nav {
	flex: 1;
	/* background-color: lawngreen; */
}
header .wrapper nav li {
	position: relative;
	margin-left: 3rem;
}
header .wrapper nav li span {
	position: absolute;
	bottom: -0.8rem;
	left: 42%;
	color: orangered;
	font-size: 1.5rem;
}
header .wrapper nav li a {
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	color: #fff;
	font-family: var(--font1);
	text-transform: uppercase;
	transition: 0.4s;
}
header .wrapper nav li a.active {
	color: aqua;
}
header .wrapper nav li a:hover {
	color: crimson;
}
.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-links a {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	color: #555555;
	margin: 0 0.3rem;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
	text-indent: -999999px;
	border-radius: 50%;
}
.social-links a img {
	float: right;
	clear: both;
	transition: 0.5s;
}
.social-links a:hover img {
	filter: invert(1);
}
.hamburger {
	/* display: none; */
	position: fixed;
	top: 3%;
	right: 5%;
	/* background-color: red; */
	width: 3rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	z-index: 10000;
	cursor: pointer;
}
.hamburger span {
	display: block;
	width: 100%;
	height: 0.3rem;
	background: #fff;
	z-index: 100;
	box-shadow: 0 0.2rem 1rem #000;
	border-radius: 20%;
}
.hamburger-menu{
  position: fixed;
  top: 0;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d35400;
  flex-direction: column;
  z-index: 9999;
  box-shadow: 0 0rem 1rem rgba(255, 255, 255, 0.493);
}
.hamburger-menu li{
  margin: 1rem 0;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  Banner styling starts here
=================================*/
#banner {
	width: 100%;
	height: 90vh;
	position: relative;
	padding: 0;
	/* overflow: hidden; */
}
#banner figure {
	width: 100%;
	height: 100%;
}
#banner .banner-image img {
	height: 100%;
	object-fit: cover;
	filter: grayscale(50%);
}
#banner .wrapper {
	/* display: flex; */
	width: 60rem;
	height: 10rem;
	overflow: hidden;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
#banner .wrapper .slider {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #d35400;
}
#prev-btn,
#next-btn {
	width: 3rem;
	height: 3rem;
	/* background: #000; */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
#prev-btn {
	left: 2%;
}
#next-btn {
	right: 3%;
}
#prev-btn .previous,
#next-btn .next {
	font-size: 2.5rem;
	color: #fff;
}
#banner .slider li {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 70%;
	height: 8rem;
	transform: translateX(-50%);
	line-height: 4rem;
}
#banner .slider li h2 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 600;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
/*=================================
  Banner styling ends here
=================================*/
/*=================================
  Our Focus styling starts here
=================================*/
section {
	padding: 3rem 0rem;
}
h3 {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-family: var(--font1);
	letter-spacing: 0.2rem;
	color: #444;
	margin-bottom: 3rem;
}
.our-focus-article {
	display: flex;
	justify-content: space-between;
}
.our-focus-article article {
	width: 20%;
	/* background: chartreuse; */
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
	border: 0.1rem solid transparent;
	transition: all 0.5s;
}
.our-focus-article article:hover {
	border-radius: 0.6rem;
	transform: scale(1.01);
	cursor: pointer;
	box-shadow: 0 0.2rem 1.5rem #8f7c7c;
	background: #f3f3f3;
}
.our-focus-article article figure {
	width: 6rem;
	height: 6rem;
	text-align: center;
	margin-top: 1rem;
}
.our-focus-article article figure img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.our-focus-article article .content {
	margin: 1.5rem 0;
}
.our-focus-article article .content h4 {
	width: 74%;
	margin: auto;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
	font-family: var(--font2);
	line-height: 2.5rem;
}
.our-focus-article article .content p {
	color: #555;
	font-size: 1.4rem;
	font-family: var(--font2);
	font-weight: 500;
	line-height: 1.6em;
	margin: 1.5rem 0;
}
.our-focus-article article .content .read-btn {
	border: 0.01rem solid #555;
	font-family: var(--font2);
	padding: 0.8rem 1.4rem;
	font-size: 1.3rem;
	color: #333;
	font-weight: 700;
	background: transparent;
}
.our-focus-article article .content .read-btn:hover {
	background-color: #d8d2d2;
}
/*=================================
  Our Focus styling ends here
=================================*/

/*=================================
  Investment styling starts here
=================================*/
.investment {
	background: #e8dfdf;
}
.investment .wrapper {
	text-align: center;
}
.investment .invest-para {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	color: #444;
	line-height: 2.5rem;
	font-family: var(--font1);
}
.investment .wrapper .investment-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3rem 0;
}
.investment .wrapper .investment-box li {
	width: 34rem;
	background-color: #fff;
	border: 0.8rem solid #fff;
	box-shadow: 0 0.2rem 2rem #444;
}
.investment-box li figure {
	height: 16rem;
	width: 100%;
}
.investment-box li figure {
	height: 100%;
}
.investment-box .investment-content {
	margin: 1.5rem 0;
	background-color: #fff;
	padding: 1rem;
}
.investment-box .investment-content h5 {
	font-size: 2.6rem;
	font-weight: 600;
	color: #d35400;
	font-family: var(--font2);
}
.investment-box .investment-content p {
	font-size: 1.3rem;
	font-weight: 400;
	font-family: var(--font1);
	color: #666;
	letter-spacing: 0.1rem;
	margin: 1rem 0 2rem;
}
.investment-box .investment-content .invest-btn {
	font-size: 1.3rem;
	font-weight: 600;
	color: #555;
	text-indent: -999999px;
	width: 2.5rem;
	height: 2.5rem;
	border: 0.2rem solid #666;
	border-radius: 50%;
	padding: 0.3rem;
	transition: 0.5s;
}
.investment-box .investment-content img {
	float: right;
	clear: both;
	filter: grayscale(100%);
}
.investment-box .investment-content .invest-btn:hover {
	transform: scale(1.3);
	filter: grayscale(0%);
}
.investment-box .investment-content .invest-btn:hover img {
	filter: grayscale(0%);
}
/*=================================
  Investment styling ends here
=================================*/
/*=================================
  solutions styling starts here
=================================*/
.solutions {
	display: flex;
	padding: 0;
}
.solutions .investment-solutions,
.solutions .saving {
	width: 50%;
}
.solutions .investment-solutions {
	position: relative;
	background-color: #d35400;
}
.solutions .wrapper h4 {
	color: #fff;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin: 3rem 0;
	font-family: var(--font2);
}
.solutions .wrapper ul li {
	width: 70%;
}
.solutions .wrapper ul li {
	margin: 1rem 0px;
}
.solutions .wrapper ul li figure {
	width: 2rem;
	margin-right: 2rem;
	float: left;
}
.solutions .wrapper ul li figure img {
	height: 100%;
}
.solutions .wrapper ul li p {
	font-size: 1.6rem;
	line-height: 2.4rem;
	letter-spacing: 0.1rem;
	color: #fff;
	font-family: var(--font1);
	font-weight: 500;
}

.learn-btn {
	display: inline-block;
	margin: 3rem 0;
}
.learn-btn .learn-more-btn {
	padding: 1rem 1.6rem;
	font-size: 1.4rem;
	color: #fff;
	border: 2px solid #fff;
	font-family: var(--font2);
	font-weight: 700;
}
.solutions .saving {
	background-color: #2c3e50;
	position: relative;
}
.solutions .saving .para {
	margin-top: 1rem;
	font-family: var(--font1);
	font-size: 1.4rem;
	color: #ffffff85;
	letter-spacing: 0.1rem;
}
/*=================================
  solutions styling ends here
=================================*/
/*=================================
  testimonial styling starts here
=================================*/

.testimonial .wrapper {
	position: relative;
	padding: 1rem 0;
}

.testimonial .wrapper .prev-btn,
.testimonial .wrapper .next-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.testimonial .wrapper .prev-btn {
	left: -2%;
}
.testimonial .wrapper .next-btn {
	right: 2%;
}
.testimonial .wrapper .prev-btn a,
.testimonial .wrapper .next-btn a {
	font-size: 2.5rem;
	font-weight: 200;
}
.testimonial .wrapper ul {
	width: 100%;
	height: 100%;
}
.testimonial .wrapper ul li {
	width: 16%;
}
.testimonial .wrapper ul li figure {
	width: 100%;
	cursor: pointer;
}
/*=================================
  testimonial styling ends here
=================================*/
/*=================================
  contact styling ends here
=================================*/

.contact {
	position: relative;
	width: 100%;
	height: 35rem;
}
.contact::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/bg1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: grayscale(80%) blur(.1rem);
	z-index: -1;
}
.contact figure {
	width: 100%;
}
.contact .wrapper h5 {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 600;
	text-shadow: 0.2rem 0.2rem 0.2rem #000;
	color: #fff;
	font-family: var(--font2);
	letter-spacing: 0.3rem;
	text-align: center;
}
.contact .contact-details {
	margin-top: 2rem;
	display: flex;
	width: 100%;
}
.contact .contact-details .input-box {
	width: 30%;
}
.contact .contact-details .input-box input {
	width: 100%;
	padding: 0.7rem 0.5rem;
	font-size: 1.4rem;
	font-family: inherit;
	letter-spacing: 0.1rem;
	margin-bottom: 2rem;
}
.contact .contact-details .input-box input:last-child {
	margin-bottom: 0;
}
.contact .textarea {
	width: 70%;
	height: 20rem;
	margin-left: 3rem;
}
.contact .contact-details textarea {
	width: 100%;
	height: 71%;
	resize: none;
	padding: 10px;
}
input[type="submit"] {
	float: right;
	clear: both;
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	letter-spacing: 0.1rem;
	background: #d35400;
	margin-top: 1rem;
	color: #fff;
}
/*=================================
  contact styling ends here
=================================*/
/*=================================
  location styling starts here
=================================*/
.location {
	width: 100%;
	background-color: #2c3e50;
}
.location .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15rem;
}
.location .wrapper address,
.email,
.phone {
	width: 30%;
	display: flex;
	align-items: center;
}

.location .wrapper figure {
	width: 6rem;
	height: 6rem;
	border: 0.4rem solid #666;
	border-radius: 50%;
}
.location .wrapper figure img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.location .wrapper address p {
	font-size: 1.4rem;
	margin-left: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 600;
	color: #fff;
}
.location .wrapper a {
	font-size: 1.4rem;
	margin-left: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 600;
	color: #fff;
}
.location .wrapper a span {
	display: block;
	margin-bottom: 0.3rem;
}
/*=================================
  location styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
	padding: 4rem 0;
	background-color: #666;
}
footer .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .footer-left h6 {
	display: inline-block;
	font-size: 3rem;
	font-family: var(--font1);
	text-transform: uppercase;
	font-weight: 600;
	color: #ffff;
}
footer .footer-left span {
	color: #fff;
  font-size: 1.2rem;  
}
footer .footer-left .social-links {
  display: block;
  margin-top: .4rem;
}
footer .footer-left .social-links li a img:hover {
	transform: scale(1.4);
}
footer .wrapper figure {
	width: 50%;
}
footer .wrapper figure img {
	height: 20rem;
	object-fit: cover;
	width: 100%;
}

.footer-right {
	width: 50%;
	height: 300px;
}
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
